body {
	background: rgb(200, 200, 200);
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.topbar {
	background: url(top-grey-bar.png) repeat-x top left;
	height: 61px;
}

.topcontainer {
	padding: -5px;
}

.logopic {
	margin-top: 10px;
	float: left;
}

.left {
	width: 400px;
	float: left;
	list-style-type: none;
}

.logo {
	font-size: 20px;
	color: white;
	float: left;
	margin-left: -35px;
}

.nav {
	font-size: 17px;
	color: white;
	float: left;
	margin-left: 50px;
}

.john-doe {
	margin-left: 280px;
}

.titlecontainer {
	background: white;
	height: 80px;
}

.u2titletext {
	color: rgb(82, 82, 82);
	font-size: 30px;
	padding: 20px 0px;
}

.maincontainer {
	background: rgb(241, 240, 236);
	height: 562px;
}

.concertpic {
	margin-top: 25px;
}

.mobmessage {
	background-color: rgb(208, 205, 200);
	color: rgb(82, 82, 82);
	width: 560px;
	height: 45px;
	font-size: 18px;
	padding: 20px 30px;
	margin-top: -4px;
}

.belowconcert {
	background: rgb(241, 240, 236);
	width: 540px;
	height: 40px;
	font-size: 10px;
	color: rgb(150, 150, 150);
	padding: 10px 0px 0px 30px;
	text-align: middle;
}

.rightofconcert {
	text-align: center;
}

.timer {
	background-color: rgb(181, 175, 163);
	margin: 25px 0px 0px 225px;
	width: 300px;
	padding: 10px;
	color: white;
	text-shadow: 0px 1px 2px rgb(36, 36, 36);
}

.mobbers {
	background-color: rgb(208, 205, 200);
	margin: 10px 0px 0px 225px;
	width: 130px;
	height: 100px;
	font-size: 70px;
	padding: 10px;
	color: white;
	text-shadow: 0px 1px 2px rgb(36, 36, 36);
}

.mobbersneeded {
	background-color: rgb(208, 205, 200);
	margin: 10px 0px 0px 395px;
	width: 130px;
	height: 100px;
	font-size: 70px;
	padding: 10px;
	float: left;
	margin-top: -120px;
	color: white;
	text-shadow: 0px 1px 2px rgb(36, 36, 36);
}

.mobberstext {
	font-size: 14px;
	background-color: rgb(181, 175, 163);
	color: rgb(82, 82, 82);
	height: 20px;
	margin-top: 0;
	text-shadow: none;
}

.mobbersneededtext {
	font-size: 14px;
	background-color: rgb(181, 175, 163);
	color: rgb(82, 82, 82);
	height: 20px;
	margin-top: -40px;
	text-shadow: none;
}

.joinmobbutton {
	width: 270px;
	border: 1px solid rgb(192, 192, 29);
	background: linear-gradient(to bottom, rgba(254,220,0,0.8) 0%,rgba(254,191,4,0.8) 100%);
	color: rgb(250, 250, 250);
	text-align: center;
	border-radius: 6px;
	padding: 20px 25px;
	box-shadow: inset 0px 1px 0px 0px rgb(197, 197, 197);
	text-shadow: 0px 1px 2px rgb(36, 36, 36);
	margin: 10px 0px 10px 225px;
	font-size: 20px;
	z-index: 100;
	position: relative;
}

.yourreward {
	width: 260px;
	border: 1px solid rgb(208, 205, 200);
	background-color: white;
	color: rgb(82, 82, 82);
	text-align: center;
	border-radius: 6px;
	padding: 0px 43px 0px 5px;
	box-shadow: inset 0px 0px 0px 0px rgb(197, 197, 197);
	text-shadow: 0px 1px 1px rgb(36, 36, 36);
	margin: -15px 0px 10px 231px;
	font-size: 14px;
	z-index: 50;
	position: relative;
}

.rewardpic {
	margin: 10px 0px 0px -45px;

}

.belowreward {
	background: rgb(241, 240, 236);
	width: 300px;
	height: 40px;
	font-size: 10px;
	color: rgb(150, 150, 150);
	padding: 10px;
	text-align: middle;
	margin: -15px 0px 0px 240px;
}

.ticketfont {
	font-size: 14px;
	color: black;
	text-align: left;
}

.suggestionscontainer {
	background: white;
	height: 385px;
}

.othermobstext {
	color: rgb(82, 82, 82);
	font-size: 26px;
	margin: 30px 0px 20px 0px;
}

.appetizerpic {
	margin: 80px 0px 0px -65px;
}

.twistedpic {
	margin: 80px 0px 0px -50px;
}

.mobtitle {
	color: rgb(82, 82, 82);
	font-size: 14px;
	margin: 3px 0px 0px 0px;
}

.mobstatustitle {
	color: rgb(82, 82, 82);
	font-size: 10px;
	color: rgb(150, 150, 150);
}

.appetizertitle {
	margin-left: -63px;
	font-weight: normal;
}

.twistertitle {
	margin-left: -49px;
}

.othertimer {
	color: rgb(82, 82, 82);
	font-size: 12px;
	display: inline;
	text-align; right;
	float: right;
}

.watch-timer-img. {

}

.watchtimer {
	margin: -15px 40px 0px 0px;
}

.appetizertimer {
	margin: -31px -6px 0px 0px;
}

.twistedtimer {
	margin: -31px -21px 0px 0px;
}

.button {
	width: 100px;
	border: 1px solid rgb(49, 49, 49);
	background: rgb(99, 99, 99);
	color: rgb(230, 230, 230);
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	border-radius: 6px;
	padding: 14px 25px;
	box-shadow: inset 0px 2px 0px 0px rgb(197, 197, 197);
	text-shadow: 0px 2px 2px rgb(36, 36, 36);
	margin-bottom: 10px;
}

.container {
	background: rgb(84, 83, 81);
	height: 370px;
	color: white;
	padding-top: 10px;
	font-size: 14px;
}

.columns {
	width: 980px;
	margin: 0 auto;
}

.column {
	width: 340px;
	float: left;
}

.column ul {
	float: left;
	padding: 0;
	margin-right: 16px;

}

.column ul li {
	list-style-type: none;
}

.middle {
	width: 230px;
	margin-left: 50px;
	color: rgb(230, 230, 230);
	font-size: 14px;
	font-weight: lighter;
}

.input {
	width: 190px;
	border: 1px solid rgb(49, 49, 49);
	background: white;
	color: rgb(100, 100, 100);
	border-radius: 6px;
	padding: 14px 20px;
	box-shadow: inset 0px 3px 2px 0px rgb(197, 197, 197);
	margin-bottom: 10px;
}

.connect {
	padding-left: 30px;
	padding: 12px 35px;
	font-size: 16px;
}

.line-separator {
	height: 1px;
	width: 230px;
	background: rgb(50, 50, 50);
	border-bottom: 1px solid rgb(75, 75, 75);
}

.last {
	width: 230px;
	margin-left: 80px;
	color: rgb(230, 230, 230);

}

.gradientbutton {
	width: 200px;
	border: 1px solid rgb(49, 49, 49);
	background: linear-gradient(to bottom, rgba(254,220,0,0.8) 0%,rgba(254,191,4,0.8) 100%);
	color: rgb(250, 250, 250);
	text-align: center;
	border-radius: 6px;
	padding: 20px 25px;
	box-shadow: inset 0px 2px 0px 0px rgb(197, 197, 197);
	text-shadow: 0px 2px 2px rgb(36, 36, 36);
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}

h2, h3, h4 {
	color: white;
}

.extramargin {
	margin-top: 30px;
}

.extramargin2 {
	margin-top: 50px;
	margin-bottom: -10px;
}