body {
	background: rgb(200, 200, 200);
	margin: 0;
	color: rgb(75, 75, 75);
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	background: rgb(84, 83, 81);
	height: 370px;
	color: white;
	padding-top: 10px;
	font-size: 14px;
}

.columns {
	width: 980px;
	margin: 0 auto;
}

.column {
	width: 340px;
	float: left;
}

.topbar {
	background: url(top-grey-bar.png) repeat-x top left;
	height: 61px;
}

.topcontainer {
	padding: -5px;
}

.logopic {
	margin-top: 10px;
	float: left;
}

.left {
	width: 400px;
	float: left;
	list-style-type: none;
}

.logo {
	font-size: 20px;
	color: white;
	float: left;
	margin-left: -35px;
}

.nav {
	font-size: 17px;
	color: white;
	float: left;
	margin-left: 50px;
}

.sign-out {
	font-size: 17px;
	color: white;
	float: right;
	margin-left: 200px;
	margin-top: 17px;
	text-align: right;
	font-weight: lighter;
}

.titlecontainer {
	background: white;
	height: 95px;

}

.tab {
	background-color: white;
	height: 35px;
	width: 160px;
	border: 1px solid rgb(205, 205, 205);
	box-shadow: inset 0px 1px 5px 0px rgb(225, 225, 225);
	border-radius: 6px;
	text-align: center;
	padding: 18px 0px 0px 0px;
	margin: 44px 10px 0px 0px;
	float: left;
	color: rgb(119, 119, 119);
}

.tab-active {

	background-color: rgb(241, 240, 236);
	color: rgb(75, 75, 75);
}

.maincontainer {
	background: rgb(241, 240, 236);
	border: 1px solid rgb(205, 205, 205);
	box-shadow: inset 0px 1px 5px 0px rgb(225, 225, 225);
	height: 500px;
	z-index: 50;
	position: relative;
	display: none;
}

.data-active {
	display: block;
}

.button {
	background-color: white;
	height: 15px;
	width: 60px;
	border: 1px solid rgb(135, 135, 135);
	border-radius: 6px;
	text-align: center;
	padding: 15px;
	margin: 15px 10px 0px 0px;
	float: left;
	clear: both;
	color: rgb(23, 148, 204);
}

.font-title {
	font-size: 24px;
	padding: 0px 0px 0px 0px;
	margin: 28px 0px 0px -412px;
	display: inline-block;
}

.icons-pic {
	margin-top: -28px;
	float: right;
}

.main-wrapper-top {
	background-color: rgb(227, 226, 222);
	height: 35px;
	margin-top: 32px;
}

.main-wrapper-dark {
	background-color: rgb(227, 226, 222);
	height: 35px;
}

.main-wrapper-light {
	background-color: rgb(241, 240, 236);
	height: 35px;
}

.category {
	font-size: 16px;
	text-align: right;
}

.main-column {
	width: 150px;
	text-align: right;
	padding-top: 9px;
	font-weight: bold;
}

.rest-column {
	width: 700px;
	padding-top: 0px;
	margin: -18px 0px 0px 180px;
	color: rgb(119, 119, 119);

}

.blue-link {
	width: 700px;
	padding-top: 0px;
	margin: -18px 0px 0px 180px;
	color: rgb(23, 148, 204);
	font-size: 16px;
}

.receipt-link {
	width: 700px;
	padding-top: 0px;
	margin: -18px 0px 0px 42px;
	color: rgb(23, 148, 204);
	font-size: 16px;
}

.main-under-column {
	width: 150px;
	float: left;
	font-size: 70px;
	color: rgb(119, 119, 119);
	text-shadow: 0px 1px 2px rgb(36, 36, 36);
	text-align: center;
	margin-top: 15px;
}

.stats {
	text-align: left;
	font-size: 20px;
	padding-left: 20px;
	padding-top: 13px;
	text-shadow: none;
	font-weight: bold;
}

.smaller {
	font-size: 14px;
	padding-top: 8px;
	text-shadow: none;
	font-weight: lighter;
}


.bottomcontainer {
	background: white;
	height: 50px;
}









